<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/php/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	verbose="true"
>
	<testsuites>
		<testsuite name="Sahajanand ERP">
			<directory suffix="-test.php">./tests/php</directory>
			<directory suffix="Test.php">./tests/php</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./includes</directory>
			<directory suffix=".php">./modules</directory>
			<exclude>
				<directory suffix=".php">./includes/lib</directory>
			</exclude>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-clover" target="coverage/php/clover.xml"/>
		<log type="coverage-html" target="coverage/php/html"/>
	</logging>
</phpunit>
